ul {
    padding: 10px;
    border: solid 1px black;
    margin: 5px;
    max-width: 275px;
    background-image: linear-gradient(rgb(149, 192, 228), rgb(218, 228, 236));
    border-radius: 7px;
    list-style-type: none;
}

li {
    width: 275px;
    text-align: center;
}

div {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    height: 250px;
    width: 250px;
}